<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nihlus.matjakt"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Google Places API Key - Release (Key 2) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ModifyProductActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_new_product"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nihlus.matjakt.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.ViewProductActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_view_product"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nihlus.matjakt.MainActivity"/>
        </activity>

        <activity android:name=".ui.SettingsActivity"
                  android:configChanges="orientation"
                  android:label="@string/action_settings"
                  android:parentActivityName=".MainActivity"
                  android:screenOrientation="portrait">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.nihlus.matjakt.MainActivity"/>
        </activity>

        <service
            android:name=".services.GPSService"
            android:enabled="true"
            android:exported="false">
        </service>

    </application>

</manifest>
